body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    display: flex;
    margin-bottom: 20px;
}
.top-section{
    background-image: url(shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}
.head-color{
    color: chartreuse;
}
.div-width{
    padding-left: 20px;
    width: 50%;
}
div img{
    width: 80%;
    padding-right: 10%;
}
.ancor{
    text-decoration: none;
    background-image: linear-gradient(tomato, green);
    padding: 10px 40px;
    font-weight: 700;
    color:rgb(33, 20, 220);
    font-size: 20px;
    border-radius: 20px;
}
.middle-section{
    background-image: url(shapes/Frame\ 58.jpg);
}
.ancor-2{
    text-decoration: none;
    background-image: linear-gradient(rgb(221, 255, 71), rgb(128, 0, 11));
    padding: 10px 40px;
    font-weight: 700;
    color:rgb(238, 241, 238);
    font-size: 20px;
    border-radius: 20px;
}