body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    margin-bottom: 20px;
}
.Flex{
    display:flex;
}
#top-section{
    background-image: url(shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}
.head-color{
    color: chartreuse;
}
.div-width{
    padding-left: 20px;
    width: 50%;
}
div img{
    width: 100%;
}
.ancor{
    text-decoration: none;
    background-image: linear-gradient(tomato, green);
    padding: 10px 40px;
    font-weight: 700;
    color:rgb(33, 20, 220);
    font-size: 20px;
    border-radius: 20px;
}
#middle-section{
    background-image: url(shapes/Frame\ 58.jpg);
}
.ancor-2{
    text-decoration: none;
    background-image: linear-gradient(rgb(221, 255, 71), rgb(128, 0, 11));
    padding: 10px 40px;
    font-weight: 700;
    color:rgb(238, 241, 238);
    font-size: 20px;
    border-radius: 20px;
}
.h2{
    margin-top: 20px;
    text-align: center;
    color: darkgrey;
}
.recipie-p{
    text-align: center;
    margin: 0 20%;
    margin-bottom: 10px;
}
.buttom-div{
    width: 30%;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
    box-shadow: 10px 10px 10px darkslategray;
    border-radius: 20px;
    
}
#last-img{
    weight:100%;
    border-radius: 20px;
}
#gradient-a{
    border-image-source: linear-gradient(rgb(229, 255, 0), rgb(255, 123, 0));
    border-image-slice: 1;
    border-left: 10px solid red;
}
#gradient-b{
    border-image-source: linear-gradient(rgb(89, 0, 255), rgb(255, 72, 0));
    border-image-slice: 1;
    border-left: 10px solid red;
}
#gradient-c{
    border-image-source: linear-gradient(rgb(255, 0, 13), rgb(0, 255, 21));
    border-image-slice: 1;
    border-left: 10px solid red;
}
.footer{
    text-align: center;
    background-color: deeppink;
    margin-top: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#footer-h{
    color: gold;
}
#footer-h2{
    color: ivory;
}
#fan-group{
    text-align: center;
    margin: 50px 10%;
    background-color: ivory;
}
.group{
    padding: 5px 10%;
}